[submodule "modules/framework"]
	path = modules/framework
	url = git@github.com:nikhil9/framework.git
[submodule "modules/bootloader"]
	path = modules/bootloader
	url = git@github.com:nikhil9/bootloader.git
